@tailwind base;
@tailwind components;
@tailwind utilities;

.cont {
  max-width: 90%;
  margin: 0 auto;
}

.heroPage {
  background: linear-gradient(281.93deg, #f9c600 0%, #fcd000 100%);
}

.FlexCenter {
  @apply flex justify-center items-center;
}

.heroRightText {
  @apply font-extrabold  text-white;
}
/* font-sf-pro-display */
