@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.cont {
  max-width: 80%;
  margin: 0 auto;
}
.contLg {
  max-width: 70%;
  margin: 0 auto;
}

.heroPage {
  background: linear-gradient(281.93deg, #f9c600 0%, #fcd000 100%);
}

.FlexCenter {
  @apply flex justify-center items-center;
}

.heroRightText {
  @apply font-extrabold  text-white;
}
/* font-sf-pro-display */
html::-webkit-scrollbar {
  width: 0.3rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #3a8dde;
  border-radius: 5rem;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.glassBg {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
